.forbidden-container {
    text-align: center;
    margin: 20vh auto;
  }
  
  h1 {
    font-size: 2em;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  