<div class="container my-5">
    <div style="margin-bottom: 15px;">
        <button type="submit" class="btn btn-success" style="float: right;" (click)="this.redirectToCreatingPage()">Create Student</button>
        <h1 class="mb-3">Students</h1>
    </div>
    <div class="contacts" *ngIf="students && students.length > 0">
        <div class="contact-card" *ngFor="let student of students" [routerLink]="['edit', student.id]">
            <img [src]="this.createImage(student.imagePath)" alt="profile picture" />
            <h3>{{ student.lastName }} {{ student.firstName }} {{ student.middleName }}</h3>
    
            <div class="info-group">
                <p>Course {{ student.course }} - {{student.group}}</p>
            </div>
    
            <div class="info-group">
                <p> {{ student.email }}</p>
            </div>
        </div>
    </div>

    <p *ngIf="!students || students.length <=0">No students found</p>
</div>
